*{margin:0px;padding:0px;}
body{font-size:12px;font-family:"微软雅黑";color:#666;background:#dceffe}
a{text-decoration:none;color:#666;}
a:hover{color:#92afcd}
ul{list-style:none}
img{border:none}
/* wrap start */
.warp{width:980px;height:100%;margin:0px auto;background:#f3f4f8;position: relative;}
/* header start */
.warp .header{width:980px;height:30px;font-size:14px;background: #F7F9FB;}
.warp .header .ul_1{float:left}
.warp .header .ul_1 li i{width:20px;height:20px;display:inline-block;border-radius:10px;background:url(../images/logo.png); background-position:-251px -145px;float:left;}
.warp .header .ul_1 li span{float:left;margin-left:3px;font-size:14px;}
.warp .header .ul_1 li{margin:5px 0px 0px 8px}
.warp .header .ul_2{float:right;margin:5px 10px 0px 0px;}
.warp .header .ul_2 li{float:left}
.warp .header .ul_2 .li_1{height:30px;}
.warp .header .ul_2 .li_1 img{border-radius:10px;float:left;margin:0px 3px 0px 0px}
.warp .header .ul_2 .li_1 span{width:50px;height:30px;display:inline-block;float:left;}
.warp .header .ul_2 .li_2 i{width:18px;height:20px;display:inline-block;border-radius:10px;background:url(../images/logo_5.png); background-position:-22px -22px;float:left;}
/* end header */ 
/* content_1 start */
.warp .content_1{width:980px;}
.warp .content_1 .mess{width:970px;height:15px;line-height:15px;padding-left:12px;}
.warp .content_1 .form_sr{width:400px;margin-top:10px;margin:0px 0px 0px 260px;}
.warp .content_1 .form_sr form{width:426px;font-size:16px;}
.warp .content_1 .form_sr input{width:200px;height:20px;font-family:"微软雅黑"}
.warp .content_1 .form_sr .btn{width:50px;border:0 none;background:#3a83f1;border-radius:3px;font-family:"微软雅黑";color:#fff;height:24px;}
.warp .content_1 .form_sr table tr{height:40px}

.warp .content_1 .pre{width:980px;margin-top:10px;display:none}

/* end content_1 */
/* end warp */
/* footer start */
.footer{text-align:center;margin:5px 0px 5px 0px;}
/* end footer */



